.main {
  background-color: transparent;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.currentCity {
  backdrop-filter: blur(20px);
  height: 600px;
  min-width: 300px;
  max-width: 500px;
  width: 80%;
  color: white;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 3px 3px 8px cornflowerblue;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.cityName {
  grid-column: 2/6;
  text-align: center;
}

.secondaryDataIcon {
  display: block;
  padding: 4px;
  align-items: center;
  align-content: center;
  justify-self: right;
  transform: translate(-10%, 4%);
}

.secondaryData {
  font-size: 12px;
  align-self: center;
  justify-self: left;
}

.country {
  font-size: larger;
  grid-column: 6;
  text-align: left;
  align-self: end;
}

.coords {
  text-align: right;
}

.temp {
  text-align: right;
  grid-column: 1/4;
  grid-row: 4/7;
  font-size: 4rem;
  font-weight: 700;
  align-self: center;
}

.adtionalTempsIcon {
  align-items: center;
  justify-self: center;
  font-size: 25px;
  grid-column: 4;
}

.adtionalTemps {
  font-size: 20px;
  grid-column: 5/7;
  align-self: center;
  justify-self: left;
}

.weather {
  padding: 15px;
  align-self: center;
  justify-self: center;
  grid-column: 1/7;
  grid-row: 8;
  image-resolution: 300px 150px;
  width: 150px;
  height: auto;
}
