.app {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 15% auto;
  /* border: 1px fuchsia solid */
}



.header {
  grid-row: 1;
}

.content{
  grid-row: 2;
  display: grid;
  grid-template-rows: auto 10%;
  /* border: 1px red solid; */
}

.main {
  grid-row: 1;
  display: flex;
}

.footer {
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 2;
}
