html,
body,
#root {
  /* border: 1px red solid; */
  height: 100%;
  width: 100%;
  background-image: url("https://wallpaperaccess.com/full/346536.jpg");
  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
}
